<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Day</title>
</head>
<body>
    <nav>
        <nav>
            <button><a href="/day" style="text-decoration: none;">Home</a></button>
            <button><a href="/day/<%= index %>" style="text-decoration: none;">Back</a></button>
        </nav>
    </nav>
    <h1>Edit Day</h1>
    <form action="/day/<%= index %>?_method=PUT" method="POST">
        <label for="day">Day of The Week</label>
        <input type="text" name="day" id="day" value="<%= days.day %>">
        <br>
        <label for="bodyPart">Body Part(s)</label>
        <input type="text" name="bodyPart" id="bodyPart" value="<%= days.bodyPart %>">
        <br>
        <label for="exercise">Exercises</label>
        <input type="text" name="exercise" id="exercise" value="<%= days.exercise %>">
        <br>
        <input type="submit" value="Submit">
        </form>
</body>
</html>